@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Karla:ital,wght@0,200..800;1,200..800&family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Kumbh+Sans:wght@100..900&family=Lato:wght@300;400;700;900&family=Pacifico&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}


.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-extrabold {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Lato", sans-serif;
}

.color-primary{
  color: #008000;
}

.color-secondary{
  color: #38b000;
}

.color-light{
  color: #9ef01a;
}

.bgcolor-primary{
  background-color: #008000;
}

.bgcolor-secondary{
  background-color: #38b000;
}

.bgcolor-light{
  background-color: #9ef01a;
}